<div class="sky">
   <div id="nav" class="clearfix">
     <div class="logo">
        
        <a href="#top"><%= image_tag("apple-white-black.png") %><h1> Except Farmworkers</h1></a>
     
     </div>
    <%= render 'navigation' %>
   </div><!-- nav  -->
</div><!--  sky  -->
<div id="welcome-trees">
<div data-behavior="fadein">
   <div class="twitter-wrapper">
      <H1 class="cursive">What's being said</H1>
      <%= render 'twitterwidget' %>
    </div><!-- twitter-wrapper  -->
    <div class="vimeo-wrapper">
      <H1  class="cursive">Our Fight For Equality</H1>
      <%= link_to image_tag("qtiptmp.png"), root_path, :class => 'vimeoHover' %>
    </div><!-- vimeo wrapper  -->
  </div><!-- fadein data-beh   -->
</div><!-- welcome-trees  -->


<!-- 
PAGES
 -->
<div class="welcome-grass thing" id="learn">light green learn</div><!-- welcome-grass  -->
<div class="green" id="getinvoled">
  <%= render 'getinvolved' %>
</div><!-- green  -->
<div class="brown" id="partners"> partners brown</div><!-- partners  -->
<div class="dark-brown" id="contact"> </div><!--  contact  -->
